body {
  font-family: arial;
  background-color: rgb(25, 25, 25);
  color: white;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 50px;
}

.title-section p {
  font-size: 30px;
  font-weight: bold;
}

.middle-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rock-button, .paper-button, .scissors-button {
  border: 3px solid white;
  border-radius: 60px;

  background-color: rgb(25, 25, 25);

  width: 120px;
  height: 120px;

  margin: 10px 10px 10px 4px;
  cursor: pointer;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 25px;
}

.js-moves-window {
  margin-bottom: 60px;
}

.reset-button {
  border: none;
  font-size: 15px;
  padding: 8px 12px;
  cursor: pointer;
}

.reset-notif {
  margin: 30px;
}

